<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.asm.ui.base"
	>
	<application>

		<activity
			android:label="@string/asm_activity_settings_label"
			android:name="com.asm.ui.activity.SettingsActivity" />
	</application>
</manifest>
