<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.asm"
	>
	<application>
		<!-- application is not defined here yet, will be defined in child projects -->
			<activity
				android:label="@string/asm_activity_error_label"
				android:name="com.asm.troubleshoot.DebugActivity" />
	</application>
</manifest>
